background-checkmark()
    background transparent url('../img/checkmark.png')
    background rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2251%22%20height%3D%2255%22%20viewBox%3D%220%200%2051.08%2055.63%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%239fcf4a%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Echeckmark%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22success%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M18.14%2054.81L50.45%206.43%2045.27.81%2017.68%2043.24%204.77%2029.74.65%2035.19l17.49%2019.62z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M45.2%200L17.61%2042.44%204.73%2029%200%2035.22l18.19%2020.41L51.08%206.38zM18.08%2054L1.29%2035.17l3.52-4.66L17.76%2044%2045.34%201.62l4.48%204.85z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center bottom
image-checkmark()
    width 51px
    height 55px
    background-checkmark()
    resizeNarrow(51px, 55px)
.pic-checkmark
    image-checkmark()
background-fail()
    background transparent url('../img/fail.png')
    background rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22103%22%20height%3D%22103%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%237d8e91%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Efail%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22fail%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M51.5%20103A51.5%2051.5%200%201%201%20103%2051.5%2051.56%2051.56%200%200%201%2051.5%20103zm0-100A48.5%2048.5%200%201%200%20100%2051.5%2048.55%2048.55%200%200%200%2051.5%203z%22%2F%3E%3Ccircle%20class%3D%22cls-1%22%20cx%3D%2234.64%22%20cy%3D%2237.51%22%20r%3D%225.37%22%2F%3E%3Ccircle%20class%3D%22cls-1%22%20cx%3D%2268.36%22%20cy%3D%2237.51%22%20r%3D%225.37%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M51.5%2061c-13.7%200-20.2%209.61-21.72%2014.69A1.93%201.93%200%200%200%2031.07%2078a2%202%200%200%200%202.42-1.28c.15-.49%203.9-11.93%2018-11.93s17.86%2011.44%2018%2011.92a2%202%200%200%200%202.41%201.3%201.94%201.94%200%200%200%201.31-2.41c-1.5-5.04-8-14.6-21.71-14.6z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center bottom
image-fail()
    width 103px
    height 103px
    background-fail()
    resizeNarrow(103px, 103px)
.pic-fail
    image-fail()
background-maestro()
    background transparent url('../img/maestro.png')
    background rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2231%22%20height%3D%2219%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23009DDD%22%20d%3D%22M15.09%2016.545c1.807-1.65%202.94-4.033%202.94-6.684s-1.134-5.034-2.94-6.684A8.886%208.886%200%200%200%209.08.842C4.134.842.125%204.88.125%209.862s4.01%209.018%208.953%209.018a8.882%208.882%200%200%200%206.01-2.335z%22%2F%3E%3Cpath%20fill%3D%22%23ED1C2E%22%20d%3D%22M21.1.842a8.886%208.886%200%200%200-6.01%202.334%209.067%209.067%200%200%200-.905.955h1.808c.247.304.476.623.683.956h-3.173a9.42%209.42%200%200%200-.516.955h4.204c.145.31.272.63.38.956H12.61c-.104.31-.19.63-.26.955h5.482c.132.617.2%201.256.2%201.91a9.075%209.075%200%200%201-.46%202.866h-4.963c.108.327.234.646.38.955h4.203a8.957%208.957%200%200%201-.516.956H13.5c.208.333.437.652.684.954h1.808c-.278.34-.58.66-.903.955a8.88%208.88%200%200%200%206.01%202.335c4.943%200%208.95-4.038%208.95-9.02S26.044.843%2021.1.843z%22%2F%3E%3Cpath%20fill%3D%22%23ED1C2E%22%20d%3D%22M28.858%2014.89c0-.162.13-.293.29-.293a.29.29%200%200%201%200%20.583.29.29%200%200%201-.29-.29zm.29.22a.22.22%200%200%200%20.22-.222.22.22%200%201%200-.44%200%20.22.22%200%200%200%20.22.22z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M26.966%2011.815c0-.16.13-.292.29-.292s.287.13.287.292-.13.29-.288.29-.29-.128-.29-.29zm.29.222a.222.222%200%200%200%200-.444c-.123%200-.22.1-.22.222s.097.222.22.222zm-.04-.094h-.06v-.256h.107c.02%200%20.045%200%20.064.014a.075.075%200%200%201%20.033.063.07.07%200%200%201-.045.066l.047.112h-.065l-.04-.102h-.042v.103-.145h.032s.025%200%20.036-.006a.034.034%200%200%200%20.015-.03c0-.01-.006-.02-.014-.024-.01-.007-.027-.006-.038-.006h-.03v.21zm-19.255.163H6.848l.66-3.514-1.524%203.514H4.968l-.186-3.494-.665%203.494h-1.01l.864-4.572h1.74l.09%202.83%201.227-2.83H8.84l-.88%204.572zm12.452-.045a2.845%202.845%200%200%201-.8.122c-.57%200-.882-.288-.882-.816%200-.104.012-.217.033-.334l.067-.364.052-.294.518-2.84h1.107l-.16.854h.568l-.152.904h-.572l-.292%201.55a.906.906%200%200%200-.02.155c0%20.192.115.276.38.276.128%200%20.226-.012.3-.035l-.146.823zm3.255-3.642c-.094-.037-.115-.037-.126-.04l-.09-.02a.652.652%200%200%200-.117-.01c-.366%200-.63.164-.97.603l.098-.562h-1.01l-.678%203.72h1.114c.4-2.275.57-2.673%201.105-2.673.04%200%20.087.003.142.01l.13.026.405-1.052zm-7.67%201.145c0%20.47.26.793.856%201.037.457.187.527.24.527.41%200%20.23-.2.336-.646.336a3.66%203.66%200%200%201-1.01-.146l-.155.857.05.008.206.038a8.514%208.514%200%200%200%20.916.063c1.19%200%201.738-.393%201.738-1.24%200-.51-.23-.81-.794-1.036-.473-.188-.527-.23-.527-.404%200-.2.187-.303.55-.303.222%200%20.524.02.81.056l.162-.862a8.82%208.82%200%200%200-.992-.073c-1.262%200-1.698.572-1.694%201.258zm-4.414%202.543h-.927l.02-.386c-.28.306-.656.45-1.167.45-.605%200-1.02-.414-1.02-1.016%200-.906.72-1.434%201.957-1.434.127%200%20.288.01.454.028a.797.797%200%200%200%20.045-.24c0-.247-.194-.34-.714-.34-.317%200-.677.042-.925.105l-.155.04-.1.024.154-.836c.556-.142.922-.196%201.334-.196.958%200%201.464.377%201.464%201.09%200%20.184-.017.324-.09.738l-.233%201.32-.04.235-.028.19-.02.128-.01.1zm-.813-1.656a2.078%202.078%200%200%200-.25-.015c-.63%200-.95.19-.95.565%200%20.232.156.38.4.38.453%200%20.78-.38.8-.93zm4.468%201.576a4.307%204.307%200%200%201-1.142.15c-1.246%200-1.896-.57-1.896-1.666%200-1.277.826-2.216%201.947-2.216.918%200%201.503.526%201.503%201.352%200%20.274-.04.54-.137.918h-2.216a.758.758%200%200%200-.01.117c0%20.433.33.65.977.65.398%200%20.758-.07%201.158-.233l-.184.93zm-.593-2.212c.006-.078.01-.14.01-.19%200-.302-.195-.48-.527-.48-.354%200-.608.238-.71.668l1.227.002zm12.486.606c-.166%201.238-1.023%201.787-2.163%201.787-1.262%200-1.77-.77-1.77-1.715%200-1.318.86-2.21%202.193-2.21%201.156%200%201.77.733%201.77%201.677%200%20.23%200%20.245-.03.46zm-1.147-.475c0-.39-.157-.756-.614-.756-.57%200-.922.676-.922%201.274%200%20.504.242.843.64.835.242%200%20.758-.333.86-.91a2.55%202.55%200%200%200%20.035-.445z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center bottom
image-maestro()
    width 31px
    height 19px
    background-maestro()
    resizeNarrow(31px, 19px)
.pic-maestro
    image-maestro()
background-mastercard()
    background transparent url('../img/mastercard.png')
    background rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2219%22%3E%3Cpath%20fill%3D%22%23F16022%22%20d%3D%22M11.253%201.978h7.958v14.3h-7.957z%22%2F%3E%3Cpath%20fill%3D%22%23E91D25%22%20d%3D%22M11.758%209.128a9.076%209.076%200%200%201%203.474-7.15%209.095%209.095%200%201%200%200%2014.3%209.08%209.08%200%200%201-3.474-7.15z%22%2F%3E%3Cpath%20fill%3D%22%23F69E1E%22%20d%3D%22M29.947%209.128a9.096%209.096%200%200%201-14.716%207.15c2.117-1.664%203.475-4.248%203.475-7.15s-1.357-5.484-3.474-7.15A9.057%209.057%200%200%201%2020.853.035a9.094%209.094%200%200%201%209.095%209.094z%22%2F%3E%3C%2Fsvg%3E') no-repeat center bottom
image-mastercard()
    width 30px
    height 19px
    background-mastercard()
    resizeNarrow(30px, 19px)
.pic-mastercard
    image-mastercard()
background-visa()
    background transparent url('../img/visa.png')
    background rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2243%22%20height%3D%2214%22%3E%3Cpath%20fill%3D%22%230033A0%22%20d%3D%22M12.1.495L8.772%209.467l-.354-1.823c-.828-2.235-2.622-4.58-4.712-5.53l3.044%2011.52h3.6L15.7.493h-3.6zm2.852%2013.152L17.08.482h3.4l-2.13%2013.165h-3.398zM30.682.807a8.383%208.383%200%200%200-3.046-.554c-3.362%200-5.726%201.788-5.746%204.344-.02%201.894%201.69%202.95%202.976%203.58%201.327.643%201.77%201.056%201.767%201.632-.013.882-1.062%201.282-2.036%201.282-1.36%200-2.084-.197-3.197-.688l-.44-.21-.478%202.946c.796.367%202.264.686%203.79.7%203.568%200%205.89-1.767%205.918-4.495.015-1.5-.894-2.64-2.856-3.578-1.186-.61-1.918-1.014-1.907-1.633%200-.546.614-1.13%201.947-1.13a5.94%205.94%200%200%201%202.544.505l.303.15.462-2.853zM39.4.497h-2.627c-.813%200-1.424.23-1.783%201.092L29.944%2013.65h3.57s.584-1.623.716-1.98l4.352.01c.105.458.414%201.97.414%201.97h3.156L39.4.497zm-4.192%208.482c.282-.757%201.354-3.68%201.354-3.68-.02.035.278-.762.452-1.255l.227%201.135.79%203.8h-2.822z%22%2F%3E%3Cpath%20fill%3D%22%23FF9E16%22%20d%3D%22M5.687.488H.204L.172.714c4.263%201.09%207.075%203.768%208.246%206.934l-1.19-6.05C7.02.764%206.424.517%205.687.487z%22%2F%3E%3C%2Fsvg%3E') no-repeat center bottom
image-visa()
    width 43px
    height 14px
    background-visa()
    resizeNarrow(43px, 14px)
.pic-visa
    image-visa()
