{{#items}}
background-{{name}}()
    background transparent url('../img/{{{name}}}.png')
    background rgba(0, 0, 0, 0) '{{{data}}}' no-repeat center bottom
image-{{name}}()
    width {{width}}px
    height {{height}}px
    background-{{name}}()
    resizeNarrow({{width}}px, {{height}}px)
.pic-{{name}}
    image-{{name}}()
{{/items}}
