@import "vendor/normalize.css"

baseFont = Tahoma, FreeSans, sans-serif
textColor = #7d8e91
fullWidthCards = true // на мобильной версии обратная сторона карты прилеплена к правому краю экрана
mobileWidth = 500px

narrow()
  @media screen and (max-width: (mobileWidth - 1px))
    {block}

wide()
  @media screen and (min-width: mobileWidth)
    {block}

body
  -webkit-font-smoothing antialiased
  font-size 14px
  padding 0 10px

resizeNarrow(originalWidth, originalHeight, resizeRatio = 0.75)
  newHeight = originalHeight * resizeRatio
  +narrow()
    height round(newHeight)
    width round(((originalWidth * newHeight) / originalHeight))
    background-size @width @height

// импортируем иконки
// вызывается resizeNarrow
@import "icons/_icons"


// прямиком из ruauto
// кнопка из десктопной версии
btnColor(color, bgColor, borderColor, bgHover, bgActive, shadow)
  color color
  background: bgColor
  border-color borderColor
  text-shadow 0 -1px 0 shadow
  &:hover, &:focus
    color color
    background bgHover
  &:active
    background bgActive
  &:visited
    color color
  &[disabled], &[disabled]:hover, &[disabled]:active, &[disabled]:focus
    color color
    background: bgColor
    border-color borderColor

// иконки
.pic
  display inline-block
  vertical-align middle

// контейнер для всех карточек
.cards
  if not fullWidthCards
    position relative
  +wide()
    position relative

  // отступ снизу из-за absolute позиционирования обратной стороны
  margin-bottom 75px
  +wide()
    margin-bottom 0

  // размеры
  // мобильный
  &, &__card
    width 300px
    height 188px
    +wide()
      width 354px
      height 214px

  // контейнер для карточки
  &__card
    box-sizing border-box

    // контейнер для лицевой стороны
    &-front
      box-shadow 0 1px 1px 1px rgba(black, .1)
      position relative
      z-index 2

    // контейнер для обратной стороны
    &-back
      position absolute
      z-index 1

      // мобильная версия
      top 61px
      right fullWidthCards ? 10px : -8px
      // десктопная версия
      +wide()
        top 0
        bottom 0
        right -104px

// карточки
.card
  // мобильная версия
  font-family baseFont
  color textColor

  // мобильная версия
  border-radius 4px
  padding 0
  // десктопная версия
  +wide()
    border-radius 8px
    padding 7px 0

  // лицевая сторона
  &-front
    background-color #e7f3d2

  // обратная сторона
  &-back
    background-color #e6e6e6

  // "строка" в карточке (на лицевой стороне)
  &__line
    height 50px
    line-height @height

    // мобильные отступы
    padding 0 11px 0 12px
    // десктопные отступы
    +wide()
      padding 0 18px 0 20px

    // строчка с логотипами платежных систем
    &-logos
      text-align right
      line-height 36px

      // мобильные размеры
      height 35px
      padding-right 10px
      // десктопные размеры
      +wide()
        height 48px
        padding-right 13px

    // строчка с VALID THRU и input
    &-validity
      font-size 17px
      line-height 34px

  // иконка платежной системы
  &__pic
    // мобильные отступы между иконками
    padding-left 6px
    // десктопные отступы между иконками
    +wide()
      padding-left 12px

  // магнитная полоса на обратной стороне
  &__magnetic
    background-color #d6d6d6
    width 100%

    margin 30px 0 0
    height 50px
    +wide()
      margin 21px 0 0
      height 46px

  // контейнер блока CVC на обратной стороне
  &__cvc
    // на мобилке он под лицевой стороной
    margin 60px 0 0
    // на десктопе справа
    +wide()
      margin 30px 10px 0 267px

// блок CVC на обратной стороне
.cvc
  // clearfix
  &:after
    content " "
    display block
    clear both
  // label с текстом
  &__label
    // на мобильной версии
    // лейбл находится справа от input
    // хоть в коде он идет сначала
    // делаем через float и negative margin
    float right
    width 160px
    margin 0 37px 0 -100px
    font-size 13px
    line-height 18px

    +wide()
      // на десктопе обычный flow
      display inline-block
      float initial
      width initial
      margin 0 0 10px 0
      font-size 12px
      line-height 14px

  // контейнер для поля ввода CVC
  &__input
    // на мобильной версии он слева от лейбла
    float left
    width 84px
    margin-left 12px

    +wide()
      // на десктопе обычный flow
      float initial
      width 66px
      margin initial

// блочки на последней строке лицевой стороны
.inline
  display inline-block
  vertical-align middle

  // VALID THRU
  &-validiy
    text-transform uppercase

    // мобильные размеры
    font-size 14px
    line-height 17px
    width 48px
    vertical-align top
    // десктопные размеры
    +wide()
      font-size 12px
      line-height 15px
      width 46px
      vertical-align middle

  // слэш
  &-separator
    vertical-align middle
    text-align center
    width 18px
    +wide()
      width auto

  // wrapper полей ДД и ММ
  &-date
    width 75px

// label ("Электронная почта" на мобильной версии)
.label
  display block
  margin-bottom 6px

  &-narrow
    +wide()
      display none

  &-a11y
    display none

// поля ввода
.input
  // общие свойства
  -webkit-appereance none
  box-sizing border-box
  font-family baseFont
  font-weight 300
  width 100%
  vertical-align top
  height 36px
  background-color white

  // мобильные свойства
  font-size 17px
  padding 9px 10px
  color #4c4c4c
  border 1px solid #d0d0d0
  border-radius 5px
  box-shadow 0 7px 7px -7px rgba(0, 0, 0, .15) inset
  // десктопные свойства
  +wide()
    font-size 16px
    padding 8px 10px
    color black
    border 1px solid #cbcbcb
    border-radius 4px
    box-shadow initial

  &::placeholder
    font-family baseFont
    color #ccc

  // немного черной магии
  // прячем некоторые placeholder на мобилке o_O
  &-placeholder_wide
    &::placeholder
      opacity 0
      +wide()
        opacity 1

// контейнер для email и submit
.bottom_control
  padding-left 1px
  box-sizing border-box

  // мобильный
  margin-top 18px
  width 100%
  // десктопный
  +wide()
    margin-top 22px
    width 357px

// submit button
// почти копипаста из ruauto
.button
  // общий код
  box-sizing border-box
  font-weight 400
  font-family baseFont

  cursor pointer
  display inline-block

  user-select none
  appearance none

  // мобильный
  font-size 20px
  width 100%
  border-radius 5px
  border-width 2px
  padding 3px 6px
  height 50px
  line-height 46px

  // десктопный
  +wide()
    font-size 17px
    width auto
    border-radius 4px
    border-width 1px
    padding 5px 12px
    height 38px
    line-height 18px

  &-orange
    color #FFF
    box-sizing border-box

    // мобильный
    background #ff6b01
    background linear-gradient(top, #ff9900 0%,#ff6b01 91%,#ff7b00 100%)
    border 1px solid #ff6700
    box-shadow 0 1px 0 rgba(255, 192, 0, 1) inset
    text-shadow 0 -1px 0 rgba(255, 103, 0, 1)

    // десктопный
    +wide()
      background #ff9500
      box-shadow initial
      btnColor(
        #FFF,
        linear-gradient(to bottom, #ff9500 0%, #ff8000 100%),
        #ff6200,
        linear-gradient(to bottom, #ffa332 0%, #ff902b 100%),
        linear-gradient(to bottom, #ff8000 0%, #ff9500 100%),
        #ff6700
      )

// NOTE в 24auto выпилить, так как там уже есть
a
  color #78AD13
  text-decoration none
  cursor pointer
  &:hover
    color #78AD13
    text-decoration underline

.card_result
  max-width 600px
  text-align center
  &__title
    font-size 27px
    margin-bottom 40px
  &__image
    margin 30px 0 33px
    &-success
      width 95px
      height 95px
      border 4px solid #9FCF4A
      border-radius 50%
      margin 30px auto 33px auto
      background-checkmark()
      background-position 26px 18px
  &__text
    line-height 20px
    margin-bottom 12px
    &-small
      font-size 13px
      color #6C7B80
    &-margin
      margin-bottom 58px
  &__card_text
    white-space nowrap

.card_spinner
  margin 40px auto
  height 85px
  width 85px
  animation rotate 0.8s infinite linear
  border 4px solid #9FCF4A
  border-right-color transparent
  border-radius 50%

@keyframes rotate
  0%   { transform: rotate(0deg)    }
  100% { transform: rotate(360deg)  }
